/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
/*------color-- variable declaration (color Hunt decimals)*/
:root{
  --color1:#3D2C8D;
  --color2:#FEF1E6;
  --color3: linear-gradient(to right bottom, rgba(61,44,141,100),rgba(61,44,141,0.5));
  --color4:#E4E9F7;
}

/* ----html tags-------- */
html{
  font-size: 10px;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  font-family: 'open sans',sans-serif;
  font-size: 1.6rem;
  color: #333;
  background-color: #eee;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}


/*-------Home section--------*/
.home-section{
  position: relative;
  background: var(--color4);
  min-height: 100vh;
  top: 0;
  left: 23px;
  width: calc(100% - 20px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 100px;
  width: calc(100% - 250px);
}

.home-section .text{
  display: inline-block;
  color: var(--color1);
  font-size: 25px;
  font-weight: 500;
  /* margin: 18px 0px 0px 22px; */
  margin: 23px 0px 0px 154px;
}

/* heading  */
#blogs{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.allBlogs{
  background-color: var(--color1);
  color: #ffff;}
