@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');
*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
:root{
	--color1:#3D2C8D;
	--color2:#FEF1E6;
	--color3:#E4E9F7;
	--color4:#916BBF;
}
.section{
	width: 100%;
	min-height: 52vh;
	background-color:var(--color3);
}
.container-1{
	width: 80%;
	display: block;
	margin:auto;
	padding-top: 100px;
}
.content-section{
	float: left;
	width: 55%;
}
.image-section{
	float: right;
	width: 40%;
	margin-top: 45px;
	
}
.image-section img{
	width: 60%;
	height: auto;
	border-radius: 60px;
}
.content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}
.content-section h1{
	color:var(--color1);
	font-size: 21px;
}
.content-section p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 18px;
	line-height: 1.5;
}
.more-text{
	display: none;
  }
.read-more-btn{
	padding: 6px 10px;
	background-color:var(--color1);
	margin-right: 12px;
	border-radius: 10px;
	color:#fff;
	border: none;
	outline: none;
	font-size: 15px;
	font-weight: 430;
	cursor: pointer;
  }
  
.show-more .more-text{
	display: inline;
 }
  
.show-more .dots{
	display: none;
  }
  
.content-section  .read-more-btn:hover{
	background-color:var(--color4);
}
.content-section .social{
	margin: 40px 40px;
}
.content-section .social i{
	color:var(--color1);
	font-size: 30px;
	padding:0px 10px;
}
.content-section .social i:hover{
	color:var(--color4);
	
}

.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:200px;
}

.team-section{
	background-color:var(--color3);
	min-height: 100vh;
	padding:70px 15px 30px;
}

.row{
	display: flex;
	flex-wrap: wrap;
}

.team-section .section-title{
	flex-basis: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.team-section .section-title h1{
	text-align: center;
	margin:0;
	color: var(--color1);
	text-transform: uppercase;
    font-size: 28px;
}

.team-section .section-title p{
	font-size:16px;
	text-align: center;
	margin:15px 0 0;
	color:var(--color1);
}
.team-section .team-items{
	flex-basis: 100%;
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team-section .team-items .item{
 flex-basis: calc(25% - 30px);
 max-width: calc(25% - 30px);
 transition: all .5s ease;
 margin-bottom: 40px;
}
.team-section .team-items .item img{
	display: block;
	width: 180px;
	height: 250px;
	border-radius: 10px;
}

.team-section .team-items .item .inner{
	position: relative;
	z-index: 11;
	padding:0 15px;
}
.team-section .team-items .item .inner .info{
	background-color:var(--color3);
	text-align: center;
	padding: 10px 5px;
	border-radius:10px;
	transition: all .5s ease;
	margin-top: -40px;
	margin-left: -20px;
}
.team-section .team-items .item:hover  .info{
    transform: translateY(-20px);
}
.team-section .team-items .item:hover{
 transform: translateY(-10px);	
}
.team-section .team-items .item .inner .info h5{
	margin:0;
	font-size: 18px;
	font-weight: 600;
	color:var(--color1);
}
.team-section .team-items .item .inner .info p{
	font-size: 16px;
	font-weight: 400;
	color:#a2a2a2;
	margin:10px 0 0;
}

.team-section .team-items .item .inner .info .social-links{
	padding-top: 15px;
}

.team-section .team-items .item .inner .info .social-links a{
	display: inline-block;
	height: 32px;
	width: 32px;
	background-color:var(--color2);
	color:var(--color1);
	border-radius: 50%;
	margin:0 2px;
	text-align: center;
	line-height: 32px;
	font-size:16px;
	transition: all .5s ease;
}

.team-section .team-items .item .inner .info .social-links a:hover{
	box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
	.team-section .team-items .item{
      flex-basis: calc(50% - 30px);
       max-width: calc(50% - 30px);

   }
}

@media(max-width: 767px){
	.team-section .team-items .item{
      flex-basis: calc(100%);
       max-width: calc(100%);

   }
}
@media screen and (max-width: 768px){
	.container{
	width: 80%;
	display: block;
	margin:auto;
	padding-top:50px;
}
.content-section{
	float:none;
	width:100%;
	display: block;
	margin:auto;
}
.image-section{
	float:none;
	width:100%;
	
}
.image-section img{
	width: 100%;
	height: auto;
	display: block;
	margin:auto;
}
.content-section .title{
	text-align: center;
	font-size: 19px;
}
.content-section .read-more-btn{
	text-align: center;
}
.content-section .read-more-btn{
	padding:9px 30px;
}
.content-section .social{
	text-align: center;
}

}















