@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
:root{
  --color1:#3D2C8D;
  --color2:#F5F5F5;
  --color3:#E4E9F7;
}
body{
  margin: 0;
  padding: 0;
  background: #E4E9F7;
  height: 100vh;
}

a{
  text-decoration: none;
  color: #fff;
}
h2{
  color: var(--color1);
  margin: 70px 0 10px 30px;
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: 30px;
  transform: translate(-50%, -50%);
  /* width: 1000px; */
  width: 67%;
  height: 490px;
  background: #F5F5F5;
  border-radius: 25px;
  box-shadow: 10px 10px 15px rgb(0 0 0 / 5%);
}
.create{
  color: var(--color1);
  text-align: center;
  padding: 20px 0;
  border-bottom: 3px solid silver;
}

.my-blog{
  text-align: start;
  padding: 20px 0;
}
.center form{
  padding: 30px  40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 30px 0;
}
.txt_field input,textarea{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: var(--color1);
  transition: .5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: var(--color1);
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.txt_field textarea:focus ~ label,
.txt_field textarea:valid ~ label{
  top: -5px;
  color: var(--color1);
}
.txt_field textarea:focus ~ label,
.txt_field textarea:valid ~ label{
  width: 100%;
}

input[type="submit"]{
  width: 28%;
  height: 50px;
  border: 1px solid;
  background: var(--color1);
  border-radius: 15px;
  font-size: 18px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
  /* margin-left: 300px; */
  display: block;
  margin:auto;
}
input[type="submit"]:hover{
  border-color: var(--color1);
  transition: .8s;
}


.error{
    border: 4px solid red;  
}

.publication-details{
    font-size: 0.9rem !important;
    color: #fff;
}


#modal{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 12;
    transform: translate(-50%,-50%);
    display: var(--modalDisplay,none);
}

/* new Addition */

.container-fluid{
  width: 81%;
  padding-right: var(--bs-gutter-x,0.75rem);
  padding-left: var(--bs-gutter-x,3.75rem);
  margin-right: auto;
  margin-left: auto;
}




html::before{
  content: '';
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  background-color: black;
  z-index: 11;
  opacity: 0.5;
  display: var(--modalbackDisplay,none);

}